= form_for(@institution) do |f|
  = f.error_messages
  %table
    %tr
      %td.label
        = f.label :name, 'Institution Name:'
      %td
        = f.text_field :name
        %span.required *
        .form_input_notes Please enter name of educational institution
    %tr
      %td.label
        = f.label :school_site, 'Institution Web Address:'
        http://
      %td
        = f.text_field :school_site
    %tr
      %td.label
        = f.label :contact_name, 'Contact Name:'
      %td
        = f.text_field :contact_name
        %span.required *
        .form_input_notes Please enter name of school contact
    %tr
      %td.label
        = f.label :contact_email, 'Contact Email:'
      %td
        = f.email_field :contact_email
        %span.required *
        .form_input_notes Please enter email for school contact
    %tr
      %td.label
        = f.label :contact_email_confirmation, 'Confirm Email:'
      %td
        = f.email_field :contact_email_confirmation
        %span.required *
        .form_input_notes Please confirm email
    %tr
      %td.label
        = f.label :contact_title, 'Contact Title:'
      %td
        = f.text_field :contact_title
        .form_input_notes Please enter title of school contact
    %tr
      %td.label
        = f.label :street_one, 'Address 1:'
      %td
        = f.text_field :street_one
        %span.required *
        .form_input_notes Please enter street address for school
    %tr
      %td.label
        = f.label :street_two, 'Address 2:'
      %td
        = f.text_field :street_two
    %tr
      %td.label
        = f.label :city, 'City:'
      %td
        = f.text_field :city
        %span.required *
        .form_input_notes Please enter school's city
    %tr
      %td.label
        = f.label :state, 'State:'
      %td
        = f.select :state, @states
        %span.required *
    %tr
      %td.label
        = f.label :postal_code, 'Zip Code:'
      %td
        = f.text_field :postal_code
        %span.required *
        .form_input_notes Please enter zip code of school
    %tr
      %td.label
        = f.label :phone, 'Phone Number:'
      %td
        = f.text_field :phone
        %span.required *
        .form_input_notes Please enter contact phone number
    %tr
      %td.label{:style => 'vertical-align:top;'}
        = f.label :wish_list, 'Wish List:'
      %td
        = f.text_area :wish_list
    %tr
      %td &nbsp;
      %td
        = f.submit :class => "styled_button blue"
        = link_to 'Back', institutions_path, :class => 'grey styled_button'