- title "Piece of the Future => #{@classroom.class_name}"
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left", :style => "background: url('/images/thecontent_quotebg_lightpurp.png') no-repeat; height: 155px;", :valign => "top"}
      %img{:height => "155", :src => "/images/thecontent_quote_04.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"} &nbsp;
  %tr
    %td{:align => "left", :valign => "top"}
      %img{:height => "64", :src => "/images/thecontent_subtitle_newclassroom.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"}
      %p
        %b Teacher:
        = @classroom.teacher
      %p
        %b Class:
        = @classroom.class_name
      %p
        %b Phone:
        = @classroom.phone
      %p
        %b Email:
        = @classroom.email
      %p
        %b Wish list:
        = @classroom.wish_list
      \#{link_to 'Back to Schools Page', institutions_path, :class => 'styled_button blue'}
- content_for :bannerimg do
  %img{:height => "258", :src => "/images/bannerimg_kids.png", :width => "1000"}/