- title 'Piece of the Future => Home'
#grid
  = link_to '', 'http://www.tomorrowsfuturefoundation.org/', :id => 'joshua_hogan_1', :class => 'box_link_left', :target => '_blank'
  .tooltip.portrait
    #joshua_hogan_1_img.ad_img
    %br
    %span.label Buyer:
    Joshua Hogan
    %br
    %span.label Email:
    = mail_to 'joshua@tomorrowsfuturefoundation.org'
    %br
    %span.label School:
    Paula Carter
    %br
    %span.label Donated:
    $20.00
    %br
    %span.label Website:
    = link_to 'www.tomorrowsfuturefoundation.org', 'http://www.tomorrowsfuturefoundation.org', :target => '_blank'
    %br
    %span.label Wish List:
    = truncate('Reading journals, Pencils, Paper, new books for students.')
  = link_to '', 'http://www.tomorrowsfuturefoundation.org', :id => 'joshua_hogan_2', :class => 'box_link_left', :target => '_blank'
  .tooltip.portrait
    #joshua_hogan_2_img.ad_img
    %br
    %span.label Buyer:
    Joshua Hogan
    %br
    %span.label Email:
    = mail_to 'joshua@tomorrowsfuturefoundation.org'
    %br
    %span.label School:
    = link_to 'Highlands Elementary', '/institutions/highlands-elementary-'
    %br
    %span.label Donated:
    $20.00
    %br
    %span.label Website:
    = link_to 'www.tomorrowsfuturefoundation.org', 'http://www.tomorrowsfuturefoundation.org', :target => '_blank'
  = link_to '', 'http://www.duvalschools.org/tlae/Twin_Lakes_Academy_Elementary/Welcome_1.html', :id => 'joshua_hogan_3', :class => 'box_link_left', :targe => '_blank'
  .tooltip.portrait
    #joshua_hogan_3_img.ad_img
    %br
    %span.label Buyer:
    Joshua Hogan
    %br
    %span.label Email:
    = mail_to 'joshua@tomorrowsfuturefoundation.org'
    %br
    %span.label School:
    = link_to 'Twin Lakes Academy Elementary', '/institutions/twin-lakes-elementary'
    %br
    %span.label Donated:
    $10.00
    %br
    %span.label Website:
    = link_to 'Twin Lakes Academy Elementary', 'http://www.duvalschools.org/tlae/Twin_Lakes_Academy_Elementary/Welcome_1.html', :target => '_blank'
  = link_to '', 'http://www.duvalschools.org/tlae/Twin_Lakes_Academy_Elementary/Welcome_1.html', :id => 'joshua_hogan_4', :class => 'box_link_left', :target => '_blank'
  .tooltip.portrait
    #joshua_hogan_4_img.ad_img
    %br
    %span.label Buyer:
    Joshua Hogan
    %br
    %span.label Email:
    = mail_to 'joshua@tomorrowsfuturefoundation.org'
    %br
    %span.label Classroom:
    = link_to "Cooper's Tigers", '/classrooms/cooper-quo-s-tigers'
    %br
    %span.label Donated:
    $25.00
    %br
    %span.label Website:
    = link_to 'Twin Lakes Academy Elementary', 'http://www.duvalschools.org/tlae/Twin_Lakes_Academy_Elementary/Welcome_1.html', :target => '_blank'
    %br
    %span.label Wish List:
    Supplies for my classroom
  = link_to '', 'http://www.joshuahogan.bodybyvi.com', :id => 'joshua_hogan_5', :class => 'box_link_left', :target => '_blank'
  .tooltip.portrait
    #joshua_hogan_5_img.ad_img
    %br
    %span.label Buyer:
    Joshua Hogan
    %br
    %span.label Email:
    = mail_to 'joshua@tomorrowsfuturefoundation.org'
    %br
    %span.label Institution:
    Glendale Elementary
    %br
    %span.label Donated:
    $50.00
    %br
    %span.label Website:
    = link_to 'www.joshuahogan.bodybyvi.com', 'http://www.joshuahogan.bodybyvi.com', :target => '_blank'
  = link_to '', 'http://www.walgreens.com', :id => 'wayne_peters_1', :class => 'box_link_left', :target => '_blank'
  .tooltip.portrait
    #wayne_peters_1_img.ad_img
    %br
    %span.label Buyer:
    Wayne Peters
    %br
    %span.label Email:
    = mail_to 'waynep@walgreens.com'
    %br
    %span.label Institution:
    Fletcher High School
    %br
    %span.label Donated:
    $1000.00
    %br
    %span.label Website:
    = link_to 'www.walgreens.com', 'http://www.walgreens.com', :target => '_blank'
  = link_to '', 'http://www.j7motorsports.com', :id => 'rick_muskewitz_1', :class => 'box_link_right', :target => '_blank'
  .tooltip.portrait
    #rick_muskewitz_1_img.ad_img
    %br
    %span.label Buyer:
    Rick Muskewitz
    %br
    %span.label Email:
    = mail_to 'joshua@tomorrowsfuturefoundation.org'
    %br
    %span.label Institution:
    Neptune Beach Elementary
    %br
    %span.label Donated:
    $500.00
    %br
    %span.label Website:
    = link_to 'www.j7motorsports.com', 'http://www.j7motorsports.com', :target => '_blank'
  = link_to '', 'http://www.aplustowingjax.com', :id => 'chris_calkins_1', :class => 'box_link_right', :target => '_blank'
  .tooltip.portrait
    #chris_calkins_1_img.ad_img
    %br
    %span.label Buyer:
    Chris Calkins
    %br
    %span.label Email:
    = mail_to 'joshua@tomorrowsfuturefoundation.org'
    %br
    %span.label Institution:
    Chris Creek Elementary
    %br
    %span.label Donated:
    $100.00
    %br
    %span.label Website:
    = link_to 'www.aplustowingjax.com', 'http://www.aplustowingjax.com/', :target => '_blank'
  = link_to '', 'http://www.healthsourcemag.com', :id => 'aj_beson_1', :class => 'box_link_right', :target => '_blank'
  .tooltip.portrait
    #aj_beson_1_img.ad_img
    %br
    %span.label Buyer:
    Aj Beson / Mike Hicks
    %br
    %span.label Email:
    = mail_to 'joshua@tomorrowsfuturefoundation.org'
    %br
    %span.label Institution:
    = link_to 'Highlands Elementary', '/institutions/highlands-elementary-'
    %br
    %span.label Classroom:
    = link_to 'Hogan Heroes', '/classrooms/hogan-heroes'
    %br
    %span.label Donated:
    $200.00
    %br
    %span.label Website:
    = link_to 'www.healthsourcemag.com', 'http://www.healthsourcemag.com', :target => '_blank'
- content_for :bannerimg do
  %img{:height => "258", :src => "/images/bannerimg_hand.png", :width => "1000"}/