!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', "http-equiv" => "Content-Type" }
  %body
    %p
      Thank you
      = @name
      for your
      = @support_type
      request.
    %p
      Your email has been forwarded to a member of our staff and we will be in touch with
      you shortly.
    %p
      Again, we want to thank you and we hope you enjoy the rest of your
      visit here at
      = link_to "PieceoftheFuture.org", 'http://pieceofthefuture.org'
    %p
      \--
      %br
      = link_to "Piece of the Future", 'http://pieceofthefuture.org'
      from
      = link_to "Tomorrow's Future Foundation", 'http://www.tomorrowsfuturefoundation.org'