- title "Piece of the Future => Contributors"
%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "left", :style => "background: url('/images/thecontent_quotebg_blue.png') no-repeat; height: 155px;", :valign => "top"}
      %img{:height => "155", :src => "/images/thecontent_quote_05.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"} &nbsp;
  %tr
    %td{:align => "left", :valign => "top"}
      %img{:height => "64", :src => "/images/thecontent_title_contributors.png", :width => "890"}/
  %tr
    %td{:align => "left", :valign => "top"}
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "890", :style => 'font-size:12px;'}
        %tr
          %td{:align => "left", :valign => "top", :style => 'font-size:12px;line-height:0;'}
            %h2{:style => "text-align:center;"}
              Tomorrow's Future Foundation would love to assist you in
              %br/
              marketing your company to a broader audience and                    demographic.
            %blockquote{:style => 'padding-left:30px;text-align:left;'}
              %p »	Create a positive image for your company by investing in                      Education.
              %p »	Link your website with ours, allowing a greater spectrum of                      people to recognize your business/ company.
              %p
                »	Allow us to place your company name and logo on everyday                      school supplies.
                %br/
            %h1{:style => 'text-indent:15px;'} Listing Contributors
            %table.datalist{:width => '860px'}
              %thead
                %tr
                  %th{:scope => 'col'} Name
                  %th{:scope => 'col'} Number of Boxes
                  %th{:scope => 'col'} Amount Donated
                  %th{:scope => 'col'} Chosen School or Classroom
              %tbody
                - @donations.each do |donation|
                  %tr
                    %td= "#{donation.first_name} #{donation.last_name}"
                    %td= donation.box_quantity
                    %td= number_to_currency(donation.box_quantity * 5.00)
                    %td
                      - if donation.classroom
                        = donation.classroom.teacher_with_class
                      - elsif donation.institution
                        = donation.institution.name
                      - elsif donation.custom_institution_name
                        = donation.custom_institution_name
                      - elsif donation.custom_classroom_name
                        = donation.custom_classroom_name
            = will_paginate @donations
            %br
            %br
        %tr
          %td{:align => "left", :valign => "top"}
- content_for :bannerimg do
  %img{:height => "258", :src => "/images/bannerimg_chalk.png", :width => "1000"}/
/\#{link_to 'Destroy', donation, :confirm => 'Are you sure?', :method => :delete}
/ link_to 'New Donation', new_donation_path
