#header{:style => 'margin:0 auto;'}
  - flash.each do |flash_type, message|
    = content_tag :div, message, :class => "flash #{flash_type} home"
  #kids{:style => 'float:left;'}
    = image_tag 'header_kids.png', :alt => 'Kids holding puzzle pieces'
  #logo{:style => 'float:right;'}
    = link_to image_tag('header_logo.png', :alt => 'Piece of the Future logo', :style => 'border:none;', :id => 'header_logo'), 'http://pieceofthefuture.org', :style => 'border:none;'
    %p#brought_by
      BROUGHT TO YOU BY
      %strong= link_to "TOMORROW'S FUTURE FOUNDATION", 'http://www.tomorrowsfuturefoundation.org'
      and
      %strong CORPORATE SPONSOR
  .clear
